.gradle/
.idea/
.kotlin/
.vscode/
.vs/

build/
bin/
dist/
dist-ssr/
node_modules/
out/
data/
windows/publish/

logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

*.local
*.iml
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

.DS_Store
Thumbs.db
